@{/*<div id="footer" class="text-center">
    <div class="container-fluid">
        <div class="socials-media text-center">
            <ul class="list-unstyled ">

                <li><a href="https://www.facebook.com/segio.berge?locale=pt_BR"><i class="bi bi-facebook"></i></a></li>

                <li><a href="https://www.instagram.com/sergio_berge/"><i class="bi bi-instagram"></i></a></li>

                <li><a href="https://www.linkedin.com/in/sergio-berg%C3%AA-438612268/"><i class="bi bi-linkedin"></i></a></li>

            </ul>
        </div>
        <p class="text-black">&copy; Copyright SergioBerge.net</p>
    </div>
</div>*/}

